* {
  user-select: none;
  -webkit-user-drag: none;
  font-family: "Roboto", Arial, sans-serif;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.navbar {
  background-color: white;
  color: #333;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.navbar img {
  height: 70px; 
  margin-right: 10px; 
}

.navbar-title-container {
  flex-grow: 1; 
  display: flex;
  justify-content: center; 
}

.navbar-title {
  margin: 0;
  font-size: 28px; 
  display: flex;
  align-items: center;
  color: #143257;
  font-family: "Poppins", sans-serif;
}

.navbar i {
  margin-right: 5px; 
  color: #28a745; 
}
.container {
  display: flex;
  margin: 20px;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.map-container {
  flex: 3;
  width: 100%; 
  overflow-x: auto;
}

.filter-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  flex-shrink: 0;
  margin-left: 20px;
  margin-bottom: 0;
}

.filter-container h3 {
  margin-top: 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #143257;
}

.filter-container .filter-group {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.filter-container .filter-group label {
  margin-right: 10px;
  font-weight: bold;
}

.filter-container button,
.filter-container input[type="file"]::before {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  display: block;
}

.process-excel {
  background-color: #28a745;
  color: white;
}

.process-excel:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.process-excel:hover:enabled {
  background-color: #218838;
}

.refresh-filters {
  background-color: #ffc107;
  color: #333;
}

.refresh-filters:disabled {
  background-color: #e0a800;
  cursor: not-allowed;
}

.refresh-filters:hover:enabled {
  background-color: #e0a800;
}

.file-upload-label {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  box-sizing: border-box;
}

.file-upload-label:hover {
  background-color: #0056b3;
}

.file-name-display {
  text-align: center;
  color: black;
  margin-bottom: 10px;
  font-size: 14px;
}

#map {
  height: 1000px;
  width: 100%; 
  margin: 0 auto; 
}

.count-display {
  margin-top: 20px;
  font-weight: bold;
  color: #143257;
}

#addressDisplay {
  margin-top: 20px;
  font-weight: bold;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.address-item {
  margin-bottom: 5px;
}

.count-display {
  margin-top: 10px;
  font-weight: bold;
}

#addressTableContainer {
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  overflow-x: auto;
}

#addressTable {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 20px;
}

#addressTable th,
#addressTable td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  white-space: nowrap;
}

#addressTable th {
  background-color: #eaeaea;
  color: #333;
  font-weight: bold;
  text-align: center;
}

#addressTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

#addressTable tr:hover {
  background-color: #e0e0e0;
}

#addressTable td:first-child {
  text-align: center;
}

#addressTable td:nth-child(2),
#addressTable td:nth-child(3),
#addressTable td:nth-child(4),
#addressTable td:nth-child(6) {
  text-align: left;
}

.filter-container input[type="checkbox"] {
  accent-color: green;
}

.loading-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 0 auto 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-bar p {
  margin: 0;
  font-size: 16px;
  color: #333;
}


@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    margin: 10px;
  }
  
  .map-container {
    order: 2;
    width: 100%;
    padding-right: 0;
  }

  .filter-container {
    order: 1;
    width: 100%;
    margin-bottom: 20px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }

  #map {
    height: 300px;
  }

  #addressTable th,
  #addressTable td {
    padding: 8px;
  }

  .filter-container .filter-group {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .navbar {
    justify-content: center;
  }

  .map-container {
    order: 2;
    width: 100%;
    padding-right: 0;
  }

  .filter-container {
    order: 1;
    width: 100%;
    margin-bottom: 20px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }

  #map {
    height: 300px;
  }

  #addressTable th,
  #addressTable td {
    padding: 8px;
  }

  .filter-container .filter-group {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }

  .filter-container .filter-group label {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .navbar img {
    height: 40px;
  }

  .navbar h3 {
    font-size: 16px;
  }

  .container {
    flex-direction: column;
    margin: 10px;
  }

  .map-container {
    order: 2;
    width: 100%;
    padding-right: 0;
  }

  .filter-container {
    order: 1;
    width: 100%;
    margin-bottom: 20px;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
  }

  #map {
    height: 250px;
  }

  .filter-container button,
  .file-upload-label {
    font-size: 14px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .navbar h3 {
    font-size: 16px;
  }

  .container {
    flex-direction: column;
  }

  .map-container {
    order: 2;
    width: 100%;
    padding-right: 0;
  }

  .filter-container {
    order: 1;
    width: 100%;
    margin-bottom: 20px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }

  #map {
    height: 250px;
  }

  .filter-container button,
  .file-upload-label {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .navbar h3 {
    font-size: 14px;
  }

  .container {
    flex-direction: column;
  }

  .map-container {
    order: 2;
    width: 100%;
    padding-right: 0;
  }

  .filter-container {
    order: 1;
    width: 100%;
    margin-bottom: 20px;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
  }

  #map {
    height: 200px;
  }

  #addressTable th,
  #addressTable td {
    padding: 6px;
    font-size: 12px;
  }

  .filter-container button,
  .file-upload-label {
    font-size: 12px;
    padding: 6px;
  }
}